## <center>MIT 6.00.1x
### <center>Lesson 3: Simple Algorithms
#### <center>**Author: Griffin Kennedy**

### Learning Objectives

> - Tuples
- Lists
- 
-

### Tuples
> - Tuples are an ordered sequence of elements of any type.
 - Tuples are **immutable**.
 - Tuples are represented with parentheses

In [1]:
'''Indexing with Tuples'''

empty_tuple = ()
t = (2,"one", 3)
t[0]

2

In [2]:
'''Addition with Tuples'''

s = (5,6)
t + s

(2, 'one', 3, 5, 6)

In [3]:
'''Slicing with Tuples'''

print(t[1:2]) #the extra comma means a tuple with one element
print(t[1:3])

('one',)
('one', 3)

In [9]:
'''Tuples can be used to return 
more than one value from a function'''

def quotient_and_remainder(x,y):
    q = x//y
    r = x%y 
    return (q,r)
quotient_and_remainder(20,3)

(6, 2)

In [ ]:
'''Manupulating Tuples'''

def get_data(aTuple):
    nums = ()
    words = ()
    for t in aTuple:
    nums = nums + (t[0],)
if t[1] not in words:
    words = words + (t[1],)
min_nums = min(nums)
max_nums = max(nums)
unique_words = len(words)
return (min_nums, max_nums, unique_words)

### Lists
> - A list is an ordered sequence of information
- accessible by index
- denoted by **square brackets**, []
- a list usually is homogeneous in type but you can have mixed types
- lists are **mutable**

In [10]:
'''Indexing with lists'''

empty_list = []
a_list = [2, 'a', 4, True]
L = [2,1,3]
print(L[0])
print(L[2]+1)

2
4

In [11]:
'''Lists are Mutable!'''
L = [2,1,3]
L[1] = 5
L

[2, 5, 3]

In [13]:
'''Iterating Over a List'''
total = 0
for i in range(len(L)):
    total += L[i]
print(total)

10

In [14]:
'''Like Strings, you can itterate over lists directly.'''
total = 0
for i in L:
    total += i
print(total)

10

In [16]:
'''Add elements to your List with .append(element)'''

L = [1,2,3]
L.append(4)
L

[1, 2, 3, 4]

In [17]:
'''List concatenation'''

L1 = [2,1,5]
L2 = [4,3,7]
L3 = L1 + L2
L3

[2, 1, 5, 4, 3, 7]

In [34]:
'''mutate your list with .extend(some_list)'''
L1 =[2,1,5]
L1.extend([0,0,6,7])
L1

[2, 1, 5, 0, 0, 6, 7]

In [35]:
'''Removing Values'''
L1.remove(0) #only removes the first '0'
L1

[2, 1, 5, 0, 6, 7]

In [36]:
del(L1[2]) #deletes the specified element
L1

[2, 1, 0, 6, 7]

In [37]:
L1.pop() #deletes the last element
L1

[2, 1, 0, 6]

In [39]:
'''Convert a str to a list'''
string = 'hello world'
L = list(string)
L

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [41]:
'''Split a string on a character'''
string.split()

['hello', 'world']

In [45]:
'''Turn a list of characters into a string'''
L = ['a', 'b', 'c']
'***'.join(L)

'a***b***c'

In [48]:
'''Other List Operations'''
L = [5,7,6,2,34]
print(sorted(L)) #sorts but does not mutate L

[2, 5, 6, 7, 34]

In [50]:
L.sort() #mutates L
L

[2, 5, 6, 7, 34]

In [51]:
L.reverse() #mutates L
L

[34, 7, 6, 5, 2]

find more opperations at https://docs.python.org/2/tutorial/datastructures.html